<p>First Name: <%= @patient_info.first_name %></p>
<p>Last Name: <%= @patient_info.last_name %></p>
<p>Address: <%= @patient_info.address %></p>
<p>Phone: <%= @patient_info.phone_number %></p>
<p>Date of Birth: <%= @patient_info.dob  %></p>
<p>Gender:

<% if @patient_info.gender == 0 %>
  male
<% else %>
  female
<% end %>
</p>

<p>Marital Status:

  <% if @patient_info.marital_status == 0 %>
    single
  <% else %>
    marries
  <% end %>
</p>


<p>Next of Kin: <%= @patient_info.nok  %></p>

<p>Prescriptions: </p>
<table class="tg" width="100%">
  <tr>
    <th >Drug</th>
    <th >Daily Units</th>
    <th >Admin Per Day</th>
    <th >Admin Method</th>
    <th >Start</th>
    <th >End</th>
  </tr>
  <% @patient_info.prescriptions.each do |p| %>
    <tr>
      <td ><%= p.drug.name %></td>
      <td ><%= p.daily_units %></td>
      <td ><%= p.admin_per_day %></td>
      <td ><%= p.admin_method %></td>
      <td ><%= p.start %></td>
      <td ><%= p.end %></td>
    </tr>
  <% end %>
</table>


<br>
<br>
<br>
<% if current_user.role == 'doctor' %>
<%= button_to "Prescribe Medication", '/prescribe_medication', method: :get, params: {patient: @patient_info, patId: @patId} %>
<% end %>

<% if current_user.role == 'medical' %>
  <%= button_to "Update Patient File", '/', method: :get, params: {patient: @patient_info, patId: @patId} %>
<% end %>

<% if current_user.role == 'charge_nurse' %>
  <%= button_to "Admit Patient", '/', method: :get, params: {patient: @patient_info, patId: @patId} %>
<% end %>

<% if current_user.role == 'charge_nurse' %>
  <%= button_to "Discharge Patient", '/', method: :get, params: {patient: @patient_info, patId: @patId} %>
<% end %>
